chatgpt style chatbot.json
{
  "name": "chatgpt style chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "24b2321d-5ded-43d3-ad2d-cb3079453f97",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -288,
        -48
      ],
      "id": "3d4aca9b-c63e-4a93-8fb0-9f6d5d69cca7",
      "name": "Webhook",
      "webhookId": "24b2321d-5ded-43d3-ad2d-cb3079453f97"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        288,
        -48
      ],
      "id": "7066caf8-fc7c-49f6-9af9-827a149671dd",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -80,
        -48
      ],
      "id": "8be2c4d1-8588-493f-923c-d3351c74998c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -112,
        144
      ],
      "id": "c098c3a8-ca6a-4c9f-ab66-bb641eac53e5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "MQHPzvRVUP58xL3b",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.webhookUrl }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        16,
        128
      ],
      "id": "1d4edd3c-85ae-4748-b84c-af147b2b4b73",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ac347ab9-10b3-489d-be74-b283d5157483",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "059c9f10613c113f76fde97825df35ac7e8987b08014f3e1098256f83ec8e327"
  },
  "id": "BMa0BPEaf0UktEX2",
  "tags": []
}